# For Loop <hr style = "border:2.5px solid #0000FF"></hr>

<b> Stephen Jay Paspie </b>
<br>Computer Engineering Tech. T09-A

## Iterating Over a List

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print (n)

2
4
6
8
10

In [2]:
# List Comprehension

numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary <hr style = "border:2.5px solid #0000FF"></hr>

In [3]:
for char in "Python":
    print (char)

P
y
t
h
o
n

In [4]:
#key-value pair

employee = {'name': [' Griffin','Reenylle'],
            'position': ['Data Analyst','Web Developer'],
            'salary' : ['800000','500000']}

for key in employee:
    print(key)

name
position
salary

In [5]:
employee['salary']

['800000', '500000']

In [6]:
for value in employee.values():
    print (value)

[' Griffin', 'Reenylle']
['Data Analyst', 'Web Developer']
['800000', '500000']

# Lambda Function <hr style = "border:2.5px solid #0000FF"></hr>

In [7]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [8]:
y = 4

(lambda x: 2*x) (y)

8

In [9]:
type (x)

NameError: name 'x' is not defined