# for Loop <hr style = "border:2.5px solid #0000FF"></hr>

<b> Byron Mojica </b>
<br>Comptech Student T09

## Iterating Over a List

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print (n)

2
4
6
8
10

In [10]:
# List Comprehension

numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary <hr style = "border:2.5px solid #0000FF"></hr>

In [33]:
for char in "Python":
    print (char)

P
y
t
h
o
n

In [23]:
#key-value pair

employee = {'name': [' Ada','Axel'],
            'position': ['Analyst','Developer'],
            'salary' : ['800000','500000']}

for key in employee:
    print(key)

name
position
salary

In [32]:
employee['salary']

['800000', '500000']

In [31]:
for value in employee.values():
    print (value)

[' Ada', 'Axel']
['Analyst', 'Developer']
['800000', '500000']

# Lambda Function <hr style = "border:2.5px solid #0000FF"></hr>

In [34]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [47]:
y = 4

(lambda x: 2*x) (y)

8

In [48]:
type (x)

int